body {
    padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.logado {
    color: white;
    float: right;
    display: flex;
}

.logado button {
    float: right;
}

.logado a {
    text-decoration: none;
    color: white;
}

.logado button {
    margin-left: 2%;
}